@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700;1,900&display=swap');


:root {
    --purple500: #281154;
    --purple300: #270282;
    --purple600:#1b0058;
    --red600:#dc0000;
    --body:#1916ff;
    --max-width:1200px;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

section{
    scroll-margin: 50px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0% auto ;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
    
}

.logo{
    font-size: 32px;
    font-weight: 600;
}

button{
    padding: 10px 15px; 
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 30px;
}

header{
    color: white;
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    box-shadow:5px 5px 5px #0000 ;
    z-index: 100;
}

nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    margin-right:40px;
    cursor:pointer;
}

#check{
    display:none;
}

.hero_section{
    
    background-image: url("./Images/3.jpg");
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.hero_section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero_section h1{
    font-size: 9vw;
}

.hero_section h3{
    font-size: 3vw;
}

.music-section{
    padding-top:6vw ;
    background-color: var(--purple500);
}

.music-section .container{
    padding: 0 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    
    /* margin: 0% auto; */
}

.ipad-iphone-img{
    margin-top:-30vw;
    /* margin-right: 5vw; */
    position: relative;
    top: 30vw;
    /* margin: 0 ; */
}

.ipad-iphone-img img{
    border: 10px solid black;
    border-radius: 10px;
    width: 100%;
    /* height: 55vw; */
    
    /* text-align: center; */
    /* height: ; */
}

.primary-btn{
    background-color: var(--red600);
    color: white;
    /* border-radius: 2px; */
}

.secondary-btn{
    background-color: var(--purple600);
    color: white;
}

.about-music{
    padding-top:35vw ;
    display: grid;
    place-items: center;
    gap: 2vw;
    text-align: center;
    margin-bottom: 4vw;
}

.mac-img img{
    width: 43vw;
}

.video-section{
    background-image: url('./Images/giphy\ \(2\).gif');
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 10vw; */
}

.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    /* margin-top: -15vw; */
    text-align: center;
}

.gift-card{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    gap: 2vw;
}

.gift-content{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.gift-card img{
    width: 30vw;
}

.footer-upper{
    background-color: var(--purple500);
    padding: 20px;
}

.footer-upper .container{
    display: flex;
    justify-content: space-between;
   color: white;
   
}

.footer-upper h4{
    padding-bottom:10px ;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.footer-lower{
    display: flex;
    padding: 1.8vw 0;
    justify-content: center;
    align-items: center;
    background-color: #1916ff;
    color: #fff;
    font-size: 1.7w;
}

.gift-section{
    scroll-margin: 120px;
}
@media screen and (max-width: 800px) {
    body {
      background-color: lightgreen;
    }
    .gift-card{
        flex-direction: column;
        align-items: center;

    }
    .gift-card h3{
        text-align: center;

    }
    .secondary-btn{
        text-align: center;

    }
    .footer-upper .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       color: white;
       text-align: center;
       
    }
    .video-section{
        
        /* min-height: 800px; */
       
        height: 10vw;
    }
    
  }
@media(max-width:955px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }

@media(max-width:455px){
  .checkbox{
       display:block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vw;
        background:#2c3e50;
        top:80px;
        left:0;'
        text-align:center;
        transition:all .5s;
        
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover, a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked~ul{
        left:0;
    }
    
    
}
  
